#floating-navbar {
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    transition: top 0.3s ease-in-out;
    border-radius: 25px;
    overflow: visible;
  }
  
  body {
    margin-top: 100px;
  }
  
  @media (max-width: 991px) {
    .form-switch {
      display: flex;
    }
    body {
      margin-top: 80px;
    }
  }
  
  body.dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  .dropdown-menu {
    position: absolute;
    z-index: 1001;
  }
  
  .navbar-dark {
    background-color: #222;
  }
  
  .navbar-dark .navbar-brand,
  .navbar-dark .navbar-nav .nav-link {
    color: #fff;
  }
  
  .navbar-light {
    background-color: #ccc;
  }
  
  .navbar-light .navbar-brand,
  .navbar-light .navbar-nav .nav-link {
    color: #000;
  }
  
  .navbar-dark .navbar-toggler-icon {
    filter: invert(1);
  }
  
  /* Warna menu hovering pada mode terang */
  .navbar-light .nav-container:hover {
    background-color: #e9ecef;
  }
  
  /* Warna menu hovering pada mode gelap */
  .navbar-dark .nav-container:hover {
    background-color: #3f4449;
  } 
  
  .nav-container {
    padding: 10px;
  }
  
  .nav-container:hover {
    background-color: #eee;
  }
  
  .nav-item .active .nav-container {
    background-color: #ddd;
  }
  
  .form-check-label {
    color: #fff;
    margin-left: 10px;
  }
  
  .separator {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
  }
  